$main_bg = #88D7E7
$cyan = #C1F4FE
$grey = #F6F8F8
$_dark_main = rgba(#2B2E3B, 1)
$_dark_header = #2F3241

.cd {
  margin: 30px 0
  color: $cyan
  background: $_dark_main
}

.inp-bg {
  background: $grey
  color: #5E7478
}

.nav-bg {
  background: $_dark_main
}

body {
  background-color: #08AEEA;
background-image: linear-gradient(225deg, #08AEEA 0%, #2AF598 50%, #f5ea0d 100%);


}
