$main_bg = #88D7E7
$cyan = #C1F4FE
$grey = #F6F8F8
$_dark_main = rgba(#2B2E3B, 1)
$_dark_header = #2F3241

.cd {
  margin: 30px 0
  color: $cyan
  background: $_dark_main
}

.inp-bg {
  background: $grey
  color: #5E7478
}

.nav-bg {
  background: $_dark_main
}

body {
  width: 100wh
	height: 90vh
	background: linear-gradient(315deg, #08AEEA 4%, #2AF598 36%, #effb0a 63%, #5bfff1 100%)
	background-size: 500% 500%
	animation: Gradient 20s ease infinite
}


@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.search-input {
	
}

